:root {
    --background-logo: rgba(0, 0, 0, 0.8);
}

body {
    width: 1280px;
    height: 720px;
    background-image: none;
}

img#logo {
    width: 192px;
    height: 108px;
    padding: 10px;
    background: radial-gradient(closest-side, var(--background-logo), var(--background-logo) 80%, transparent);
}